@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Courier+Prime:ital@1&family=Gasoek+One&family=Oswald&family=Roboto+Mono:ital,wght@1,100&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:whitesmoke;
    height: 10vh;
    background-color: #219ebc;
}
.navbar a{
    color: whitesmoke;
    font-size: 2rem;
    transition-property: all;
    transition-duration: 2s;
}
.navbar a:hover{
    color: #003566;
    font-size: 2.5rem;
    cursor: pointer;
}
.name img{
    height: 8vh;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    background-color: #219ebc;
    color: whitesmoke;
    font-size: 2rem;
    transition-property: all;
    transition-duration: 2s; 
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}
.sec{
    display: flex;
    flex-direction: column;
}
.appointment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.2rem;
}
.special{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
}
#email{
    height: 6vh;
    width: 10vw;
    background-color: orange;
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
#call{
    height: 6vh;
    width: 10vw;
    background-color: orange;
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
#call a{
    color: black; 
    font-size: 1.4rem; 
}
#email a{
    color: black; 
    font-size: 1.4rem; 
}


@media screen and (min-width:360px) and (max-width:640px){
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Cabin', sans-serif;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color:whitesmoke;
        height: 10vh;
        background-color: #219ebc;
    }
    .navbar a{
        color: whitesmoke;
        font-size: 1.25rem; 
        transition-property: all;
        transition-duration: 2s;
    }
    .name{
        width: 15vw;
    }
    .name img{
        height: 8vh;
    }
    .navbar a:hover{
        color: #003566;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10vh;
        background-color: #219ebc;
        color: whitesmoke;
        font-size: 1.5rem;
        transition-property: all;
        transition-duration: 2s; 
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 140vh;
    }
    .appointment{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        margin-left: 10vw;
        height: 40vh;
        /* border: 2px solid blue; */
    }
    h2{
        font-size: 1.5rem;
    }
    .special{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        height: 50vh;
    }
    .sec{
        display: flex;
        flex-direction: column;
        height: 90vh;
        /* border: 2px solid blue; */
    }

    .book{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50vh;
        font-size: 1.2rem;
        /* border: 2px solid blue; */
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 80vw;
    }
    #email{
        height: 4vh;
        width: 35vw;
        background-color: orange;
        color: black;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
    }
    #call{
        height: 4vh;
        width: 35vw;
        background-color: orange;
        color: black;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
    }
    #call a{
        color: black; 
        font-size: 1.4rem; 
    }
    #email a{
        color: black; 
        font-size: 1.4rem; 
    }
}

@media screen and (min-width:768px) and (max-width:1000px){
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Cabin', sans-serif;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color:whitesmoke;
        height: 10vh;
        background-color: #219ebc;
    }
    .navbar a{
        color: whitesmoke;
        font-size: 2rem; 
        transition-property: all;
        transition-duration: 2s;
    }
    .name{
        width: 15vw;
    }
    .name img{
        height: 8vh;
    }
    .navbar a:hover{
        color: #003566;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10vh;
        background-color: #219ebc;
        color: whitesmoke;
        font-size: 2rem;
        transition-property: all;
        transition-duration: 2s; 
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 140vh;
    }
    .appointment{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2.5rem;
        margin-left: 10vw;
        height: 40vh;
        /* border: 2px solid blue; */
    }
    h2{
        font-size: 1.5rem;
    }
    .special{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2.5rem;
        height: 50vh;
    }
    .sec{
        display: flex;
        flex-direction: column;
        height: 90vh;
        /* border: 2px solid blue; */
    }

    .book{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50vh;
        font-size: 2.5rem;
        /* border: 2px solid blue; */
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 80vw;
    }
    #email{
        height: 4vh;
        width: 35vw;
        background-color: orange;
        color: black;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
    }
    #call{
        height: 4vh;
        width: 35vw;
        background-color: orange;
        color: black;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
    }
    #call a{
        color: black; 
        font-size: 1.4rem; 
    }
    #email a{
        color: black; 
        font-size: 1.4rem; 
    }
}